{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="sidebar">
        <div class="container">
            <div class="row">
                {% for folder in folders %}
                    <div class="col-md-4">
                        <a href="{% url 'folder_contents' folder.id %}">
                            <div class="folder">
                                <h4>{{ folder.name }}</h4>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body> 
</html>
